<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Scores</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>


<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Student Management System</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
        </ul>
    </div>
</nav>

<div class="container">
    <h1 th:text="${responsable.nameResponsable}"></h1>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Student</th>
            <th>Email</th>
            <th>Tuition</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="student : ${students}">
            <td><a th:if="${student.id}" th:href="@{/students/courses/{id}(id=${student.id})}" th:text="${student.name}"></a></td>
            <td th:text="${student.email}"></td>
            <td th:text="${student.tuition}"></td>
        </tr>

        </tbody>
    </table>
</div>

</body>
</html>